@import url("./SidebarControl.css");
@import url("./SidebarSearch.css");

.sidebar {
    margin: 0 auto 12px;
    padding: 52px 0 20px;
    background-color: #F4F4F4;
}

.sidebar__content {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
}



